<a href="https://colab.research.google.com/github/Hadia381/MLOPS-Project/blob/main/Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Basic Library Imports

In [3]:
pip install mlflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlflow in /usr/local/lib/python3.10/dist-packages (2.4.1)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (8.1.3)
Requirement already satisfied: cloudpickle<3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.2.1)
Requirement already satisfied: databricks-cli<1,>=0.8.7 in /usr/local/lib/python3.10/dist-packages (from mlflow) (0.17.7)
Requirement already satisfied: entrypoints<1 in /usr/local/lib/python3.10/dist-packages (from mlflow) (0.4)
Requirement already satisfied: gitpython<4,>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.1.31)
Requirement already satisfied: pyyaml<7,>=5.1 in /usr/local/lib/python3.10/dist-packages (from mlflow) (6.0)
Requirement already satisfied: protobuf<5,>=3.12.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.20.3)
Requirement already satisfied: pytz<2024 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2022.7.1)
Requirement already satisfied: requests<3,>=2.17.3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.27.1)
Requirement already satisfied: packaging<24 in /usr/local/lib/python3.10/dist-packages (from mlflow) (23.1)
Requirement already satisfied: importlib-metadata!=4.7.0,<7,>=3.7.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (6.6.0)
Requirement already satisfied: sqlparse<1,>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (0.4.4)
Requirement already satisfied: alembic!=1.10.0,<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.11.1)
Requirement already satisfied: docker<7,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (6.1.3)
Requirement already satisfied: Flask<3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.2.4)
Requirement already satisfied: numpy<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.22.4)
Requirement already satisfied: scipy<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.10.1)
Requirement already satisfied: pandas<3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.5.3)
Requirement already satisfied: querystring-parser<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.2.4)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (2.0.10)
Requirement already satisfied: scikit-learn<2 in /usr/local/lib/python3.10/dist-packages (from mlflow) (1.2.2)
Requirement already satisfied: pyarrow<13,>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from mlflow) (9.0.0)
Requirement already satisfied: markdown<4,>=3.3 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.4.3)
Requirement already satisfied: matplotlib<4 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.7.1)
Requirement already satisfied: gunicorn<21 in /usr/local/lib/python3.10/dist-packages (from mlflow) (20.1.0)
Requirement already satisfied: Jinja2<4,>=2.11 in /usr/local/lib/python3.10/dist-packages (from mlflow) (3.1.2)
Requirement already satisfied: Mako in /usr/local/lib/python3.10/dist-packages (from alembic!=1.10.0,<2->mlflow) (1.2.4)
Requirement already satisfied: typing-extensions>=4 in /usr/local/lib/python3.10/dist-packages (from alembic!=1.10.0,<2->mlflow) (4.5.0)
Requirement already satisfied: pyjwt>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (2.7.0)
Requirement already satisfied: oauthlib>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (3.2.2)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.10/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (0.8.10)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.10/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.16.0)
Requirement already satisfied: urllib3<2.0.0,>=1.26.7 in /usr/local/lib/python3.10/dist-packages (from databricks-cli<1,>=0.8.7->mlflow) (1.26.15)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.10/dist-packages (from docker<7,>=4.0.0->mlflow) (1.5.1)
Requirement already satisfied: Werkzeug>=2.2.2 in /usr/local/lib/python3.10/dist-packages (from Flask<3->mlflow) (2.3.0)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask<3->mlflow) (2.1.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.10/dist-packages (from gitpython<4,>=2.1.0->mlflow) (4.0.10)
Requirement already satisfied: setuptools>=3.0 in /usr/local/lib/python3.10/dist-packages (from gunicorn<21->mlflow) (67.7.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata!=4.7.0,<7,>=3.7.0->mlflow) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from Jinja2<4,>=2.11->mlflow) (2.1.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4->mlflow) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.17.3->mlflow) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.17.3->mlflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.17.3->mlflow) (3.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2->mlflow) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<2->mlflow) (3.1.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<3,>=1.4.0->mlflow) (2.0.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from gitdb<5,>=4.0.1->gitpython<4,>=2.1.0->mlflow) (5.0.0)

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import mlflow

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Data Import and Preprocessing

In [7]:
df = pd.read_csv('/content/drive/MyDrive/Dataset_FYP/12/f8f418cc5d127816f0ccdc7d31ab36')
df = df.iloc[0:584524,0:21]
df.head(10)

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131.00,complete,7/1/2016,kreations_YI 06-L,1950.00,1.00,1950.00,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016.00,7.00,2016-7,7-2016,FY17,1.00
1,211133.00,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.00,1.00,240.00,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016.00,7.00,2016-7,7-2016,FY17,2.00
2,211134.00,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.00,1.00,2450.00,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016.00,7.00,2016-7,7-2016,FY17,3.00
3,211135.00,complete,7/1/2016,kcc_krone deal,360.00,1.00,60.00,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016.00,7.00,2016-7,7-2016,FY17,4.00
4,211136.00,order_refunded,7/1/2016,BK7010400AG,555.00,2.00,1110.00,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016.00,7.00,2016-7,7-2016,FY17,5.00
5,211137.00,canceled,7/1/2016,UK_Namkino All In One 200 Gms,80.00,1.00,80.00,100147448,Soghaat,\N,...,cod,7/1/2016,Gross,80,2016.00,7.00,2016-7,7-2016,FY17,6.00
6,211138.00,complete,7/1/2016,kcc_krone deal,360.00,1.00,60.00,100147449,Beauty & Grooming,\N,...,cod,7/1/2016,Net,360,2016.00,7.00,2016-7,7-2016,FY17,7.00
7,211139.00,complete,7/1/2016,UK_Namkino Mix Nimco 400 Gms,170.00,1.00,170.00,100147450,Soghaat,\N,...,cod,7/1/2016,Net,170,2016.00,7.00,2016-7,7-2016,FY17,6.00
8,211140.00,canceled,7/1/2016,Apple iPhone 6S 64GB,96499.00,1.00,96499.00,100147451,Mobiles & Tablets,\N,...,ublcreditcard,7/1/2016,Gross,"96,499",2016.00,7.00,2016-7,7-2016,FY17,8.00
9,211141.00,canceled,7/1/2016,Apple iPhone 6S 64GB,96499.00,1.00,96499.00,100147452,Mobiles & Tablets,\N,...,mygateway,7/1/2016,Gross,"96,499",2016.00,7.00,2016-7,7-2016,FY17,8.00

In [8]:
df.columns

Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1',
       'sales_commission_code', 'discount_amount', 'payment_method',
       'Working Date', 'BI Status', ' MV ', 'Year', 'Month', 'Customer Since',
       'M-Y', 'FY', 'Customer ID'],
      dtype='object')

In [9]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df

                       percent_missing
item_id                           0.00
status                            0.00
created_at                        0.00
sku                               0.00
price                             0.00
qty_ordered                       0.00
grand_total                       0.00
increment_id                      0.00
category_name_1                   0.03
sales_commission_code            23.47
discount_amount                   0.00
payment_method                    0.00
Working Date                      0.00
BI Status                         0.00
 MV                               0.00
Year                              0.00
Month                             0.00
Customer Since                    0.00
M-Y                               0.00
FY                                0.00
Customer ID                       0.00

In [10]:
df = df.dropna(subset=['status', 'category_name_1', 'Customer Since', 'Customer ID'])
df

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,payment_method,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID
0,211131.00,complete,7/1/2016,kreations_YI 06-L,1950.00,1.00,1950.00,100147443,Women's Fashion,\N,...,cod,7/1/2016,#REF!,"1,950",2016.00,7.00,2016-7,7-2016,FY17,1.00
1,211133.00,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.00,1.00,240.00,100147444,Beauty & Grooming,\N,...,cod,7/1/2016,Gross,240,2016.00,7.00,2016-7,7-2016,FY17,2.00
2,211134.00,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.00,1.00,2450.00,100147445,Women's Fashion,\N,...,cod,7/1/2016,Gross,"2,450",2016.00,7.00,2016-7,7-2016,FY17,3.00
3,211135.00,complete,7/1/2016,kcc_krone deal,360.00,1.00,60.00,100147446,Beauty & Grooming,R-FSD-52352,...,cod,7/1/2016,Net,360,2016.00,7.00,2016-7,7-2016,FY17,4.00
4,211136.00,order_refunded,7/1/2016,BK7010400AG,555.00,2.00,1110.00,100147447,Soghaat,\N,...,cod,7/1/2016,Valid,"1,110",2016.00,7.00,2016-7,7-2016,FY17,5.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204.00,cod,8/28/2018,WOFSCE5AE00357AECDE,699.00,1.00,849.00,100562385,Women's Fashion,NaN,...,cod,8/28/2018,Valid,699,2018.00,8.00,2018-8,8-2018,FY19,115320.00
584520,905205.00,processing,8/28/2018,MATHUA5AF70A7D1E50A,35599.00,1.00,35899.00,100562386,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"35,599",2018.00,8.00,2018-8,8-2018,FY19,115326.00
584521,905206.00,processing,8/28/2018,MATSAM5B6D7208C6D30,129999.00,2.00,652178.00,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"259,998",2018.00,8.00,2018-7,8-2018,FY19,113474.00
584522,905207.00,processing,8/28/2018,MATSAM5B1509B4696EA,87300.00,2.00,652178.00,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"174,600",2018.00,8.00,2018-7,8-2018,FY19,113474.00
584523,905208.00,processing,8/28/2018,MATSAM5B10F91A9B6AB,108640.00,2.00,652178.00,100562387,Mobiles & Tablets,NaN,...,bankalfalah,8/28/2018,Gross,"217,280",2018.00,8.00,2018-7,8-2018,FY19,113474.00

In [11]:
df['Month'] = df['Month'].astype(int)

In [12]:
df.loc[df['Month'] == 9, 'Month Name'] = 'September' 
df.loc[df['Month'] == 8, 'Month Name'] = 'August' 
df.loc[df['Month'] == 7, 'Month Name'] = 'July' 
df.loc[df['Month'] == 6, 'Month Name'] = 'June' 
df.loc[df['Month'] == 5, 'Month Name'] = 'May' 
df.loc[df['Month'] == 4, 'Month Name'] = 'April' 
df.loc[df['Month'] == 3, 'Month Name'] = 'March' 
df.loc[df['Month'] == 2, 'Month Name'] = 'February' 
df.loc[df['Month'] == 1, 'Month Name'] = 'January' 
df.loc[df['Month'] == 12, 'Month Name'] = 'December' 
df.loc[df['Month'] == 11, 'Month Name'] = 'November' 
df.loc[df['Month'] == 10, 'Month Name'] = 'October'

In [13]:
df.loc[df['price'] <= 500 , 'Price Range'] = '< 500' 
df.loc[(df['price'] <= 1000) &  (df['price'] > 500), 'Price Range'] = '500 - 1000' 
df.loc[(df['price'] <= 1500) &  (df['price'] > 1000), 'Price Range'] = '1000 - 1500' 
df.loc[(df['price'] <= 2000) &  (df['price'] > 1500), 'Price Range'] = '1500 - 2000' 
df.loc[(df['price'] <= 3000) &  (df['price'] > 2000), 'Price Range'] = '2000 - 3000' 
df.loc[(df['price'] <= 4000) &  (df['price'] > 3000), 'Price Range'] = '3000 - 4000' 
df.loc[(df['price'] <= 5000) &  (df['price'] > 4000), 'Price Range'] = '4000 - 5000' 
df.loc[(df['price'] > 5000), 'Price Range'] = '5000 <'

In [14]:
df.loc[df['discount_amount'] <= 500 , 'discount_amount Range'] = '< 500' 
df.loc[(df['discount_amount'] <= 1000) &  (df['discount_amount'] > 500), 'discount_amount Range'] = '500 - 1000' 
df.loc[(df['discount_amount'] <= 1500) &  (df['discount_amount'] > 1000), 'discount_amount Range'] = '1000 - 1500' 
df.loc[(df['discount_amount'] <= 2000) &  (df['discount_amount'] > 1500), 'discount_amount Range'] = '1500 - 2000' 
df.loc[(df['discount_amount'] <= 3000) &  (df['discount_amount'] > 2000), 'discount_amount Range'] = '2000 - 3000' 
df.loc[(df['discount_amount'] > 3000), 'discount_amount Range'] = '3000 <'

In [15]:
df = df.drop(['sku', 'sales_commission_code'], axis=1)

In [16]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'percent_missing': percent_missing})
missing_value_df

                       percent_missing
item_id                           0.00
status                            0.00
created_at                        0.00
price                             0.00
qty_ordered                       0.00
grand_total                       0.00
increment_id                      0.00
category_name_1                   0.00
discount_amount                   0.00
payment_method                    0.00
Working Date                      0.00
BI Status                         0.00
 MV                               0.00
Year                              0.00
Month                             0.00
Customer Since                    0.00
M-Y                               0.00
FY                                0.00
Customer ID                       0.00
Month Name                        0.00
Price Range                       0.00
discount_amount Range             0.00

In [17]:
df

,item_id,status,created_at,price,qty_ordered,grand_total,increment_id,category_name_1,discount_amount,payment_method,...,MV,Year,Month,Customer Since,M-Y,FY,Customer ID,Month Name,Price Range,discount_amount Range
0,211131.00,complete,7/1/2016,1950.00,1.00,1950.00,100147443,Women's Fashion,0.00,cod,...,"1,950",2016.00,7,2016-7,7-2016,FY17,1.00,July,1500 - 2000,< 500
1,211133.00,canceled,7/1/2016,240.00,1.00,240.00,100147444,Beauty & Grooming,0.00,cod,...,240,2016.00,7,2016-7,7-2016,FY17,2.00,July,< 500,< 500
2,211134.00,canceled,7/1/2016,2450.00,1.00,2450.00,100147445,Women's Fashion,0.00,cod,...,"2,450",2016.00,7,2016-7,7-2016,FY17,3.00,July,2000 - 3000,< 500
3,211135.00,complete,7/1/2016,360.00,1.00,60.00,100147446,Beauty & Grooming,300.00,cod,...,360,2016.00,7,2016-7,7-2016,FY17,4.00,July,< 500,< 500
4,211136.00,order_refunded,7/1/2016,555.00,2.00,1110.00,100147447,Soghaat,0.00,cod,...,"1,110",2016.00,7,2016-7,7-2016,FY17,5.00,July,500 - 1000,< 500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204.00,cod,8/28/2018,699.00,1.00,849.00,100562385,Women's Fashion,0.00,cod,...,699,2018.00,8,2018-8,8-2018,FY19,115320.00,August,500 - 1000,< 500
584520,905205.00,processing,8/28/2018,35599.00,1.00,35899.00,100562386,Mobiles & Tablets,0.00,bankalfalah,...,"35,599",2018.00,8,2018-8,8-2018,FY19,115326.00,August,5000 <,< 500
584521,905206.00,processing,8/28/2018,129999.00,2.00,652178.00,100562387,Mobiles & Tablets,0.00,bankalfalah,...,"259,998",2018.00,8,2018-7,8-2018,FY19,113474.00,August,5000 <,< 500
584522,905207.00,processing,8/28/2018,87300.00,2.00,652178.00,100562387,Mobiles & Tablets,0.00,bankalfalah,...,"174,600",2018.00,8,2018-7,8-2018,FY19,113474.00,August,5000 <,< 500
584523,905208.00,processing,8/28/2018,108640.00,2.00,652178.00,100562387,Mobiles & Tablets,0.00,bankalfalah,...,"217,280",2018.00,8,2018-7,8-2018,FY19,113474.00,August,5000 <,< 500

## Category-wise Distribtion & Visualization

In [18]:
temp = df['category_name_1'].value_counts()
data = pd.DataFrame({'Category':temp.index, 'Count':temp.values})
data

              Category   Count
0    Mobiles & Tablets  115709
1        Men's Fashion   92218
2      Women's Fashion   59720
3           Appliances   52413
4           Superstore   43611
5    Beauty & Grooming   41493
6              Soghaat   34011
7               Others   29208
8        Home & Living   26504
9        Entertainment   26325
10     Health & Sports   17502
11         Kids & Baby   16489
12           Computing   15933
13                  \N    7850
14  School & Education    3478
15               Books    1870

In [19]:
y = data["Count"].to_list()

In [20]:
fig = px.bar(data, x="Count", y="Category", orientation='h', text= y)
fig.update_traces(marker_color='pink')
fig.show()

## Status-wise Distribtion & Visualization

In [21]:
df['status'].value_counts()

complete          233684
canceled          201136
received           77284
order_refunded     59500
refund              8028
cod                 2855
paid                1159
closed               494
payment_review        57
pending               48
processing            33
holded                31
fraud                 10
pending_paypal         7
exchange               4
\N                     4
Name: status, dtype: int64

In [22]:
temp = df['status'].value_counts()
data = pd.DataFrame({'Status':temp.index, 'Count':temp.values})
data = data.head(7)

In [23]:
fig = px.pie(data, values="Count", names="Status",
             color_discrete_sequence=px.colors.sequential.RdBu,
             opacity=0.7, hole=0.5)
fig.show()

## Payment_Method-wise Distribtion & Visualization

In [24]:
temp = df['payment_method'].value_counts()
data = pd.DataFrame({'Payment Method':temp.index, 'Count':temp.values})
data

       Payment Method   Count
0                 cod  271790
1             Payaxis   97640
2             Easypay   82893
3          jazzwallet   35145
4     easypay_voucher   31175
5         bankalfalah   23057
6         jazzvoucher   15633
7          Easypay_MA   14026
8      customercredit    7554
9                 apg    1758
10      ublcreditcard     882
11     cashatdoorstep     732
12            mcblite     723
13          mygateway     669
14    internetbanking     472
15      productcredit     125
16   marketingexpense      45
17  financesettlement      15

In [25]:
y = data["Count"].to_list()

fig = px.bar(data, x="Count", y="Payment Method", orientation='h', text= y)
fig.update_traces(marker_color='teal')
fig.show()

## BI_Status-wise Distribtion & Visualization

In [26]:
df['BI Status'].value_counts()
temp = df['BI Status'].value_counts()
data = pd.DataFrame({'Status':temp.index, 'Count':temp.values})
data = data.head(3)

In [27]:
fig = px.pie(data, values="Count", names="Status", color = "Status", color_discrete_map={'Net':'darkblue',
                                 'Gross':'cyan',
                                 'Valid':'royalblue'}, opacity=0.7, hole=0.5)
fig.show()

## Price_Range-wise Distribtion & Visualization

In [28]:
x = df['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range   Count
0        < 500  204983
1       5000 <  136196
2   500 - 1000  120433
3  1000 - 1500   46007
4  1500 - 2000   28496
5  2000 - 3000   24223
6  3000 - 4000   13744
7  4000 - 5000   10252

In [29]:
x = ["< 500", "500 - 1000", "1000 - 1500", "1500 - 2000", "2000 - 3000", "3000 - 4000", "4000 - 5000 ", "5000 < "]
y = [205146, 136202, 120448, 46009, 28497, 24225, 13744, 10253]

In [30]:
fig = px.bar(df, x = x, y=y, text= y)
fig.update_traces(marker_color='gold')
fig.show()

## Discount_Range-wise Distribtion & Visualization

In [31]:
x = df['discount_amount Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range   Count
0        < 500  485034
1       3000 <   26442
2   500 - 1000   25787
3  2000 - 3000   20961
4  1000 - 1500   13677
5  1500 - 2000   12433

## Price Range Distribuion YoY

In [32]:
year_2016 = df.loc[df["Year"] == 2016]
year_2017 = df.loc[df["Year"] == 2017]
year_2018 = df.loc[df["Year"] == 2018]

In [33]:
x = year_2016['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0        < 500  60178
1   500 - 1000  29434
2       5000 <  19862
3  1000 - 1500  10838
4  1500 - 2000   6132
5  2000 - 3000   4257
6  3000 - 4000   2167
7  4000 - 5000   1041

In [34]:
x = year_2017['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range   Count
0        < 500  100225
1       5000 <   67500
2   500 - 1000   59490
3  1000 - 1500   24777
4  2000 - 3000   13940
5  1500 - 2000   13856
6  3000 - 4000    6556
7  4000 - 5000    4576

In [35]:
x = year_2018['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0       5000 <  48834
1        < 500  44580
2   500 - 1000  31509
3  1000 - 1500  10392
4  1500 - 2000   8508
5  2000 - 3000   6026
6  3000 - 4000   5021
7  4000 - 5000   4635

## Customer-Since Distribution

In [36]:
df['Customer Since'].value_counts()

2016-11    82713
2017-11    70784
2016-7     57064
2016-9     46746
2017-5     35356
2018-3     32048
2018-2     23988
2016-8     21051
2017-8     19078
2017-3     18232
2016-10    17546
2017-4     16826
2018-5     16051
2017-6     15593
2017-10    14618
2017-7     14035
2017-1     12260
2016-12    10638
2017-2     10293
2018-1      9548
2017-12     8667
2018-4      7619
2017-9      7442
2018-6      6794
2018-7      5328
2018-8      4016
Name: Customer Since, dtype: int64

## Category-Wise Price

In [37]:
df['category_name_1'].value_counts()

Mobiles & Tablets     115709
Men's Fashion          92218
Women's Fashion        59720
Appliances             52413
Superstore             43611
Beauty & Grooming      41493
Soghaat                34011
Others                 29208
Home & Living          26504
Entertainment          26325
Health & Sports        17502
Kids & Baby            16489
Computing              15933
\N                      7850
School & Education      3478
Books                   1870
Name: category_name_1, dtype: int64

In [38]:
Mobiles = df.loc[df["category_name_1"] == 'Mobiles & Tablets']
MF = df.loc[df["category_name_1"] == "Men's Fashion"]
WF = df.loc[df["category_name_1"] == "Women's Fashion"]
Apl = df.loc[df["category_name_1"] == 'Appliances']
SS = df.loc[df["category_name_1"] == 'Superstore']
BG = df.loc[df["category_name_1"] == 'Beauty & Grooming']
Sogh = df.loc[df["category_name_1"] == 'Soghaat']
Others = df.loc[df["category_name_1"] == 'Others']
HL = df.loc[df["category_name_1"] == 'Home & Living']
Ent = df.loc[df["category_name_1"] == 'Entertainment']
HS = df.loc[df["category_name_1"] == 'Health & Sports']
KB = df.loc[df["category_name_1"] == 'Kids & Baby']

In [39]:
de = Mobiles['Price Range'].value_counts()
dy = pd.DataFrame({'Price Range':x.index, 'Count':x.values})

In [40]:
x = Apl['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0       5000 <  25702
1   500 - 1000   6279
2  2000 - 3000   4988
3  1000 - 1500   4623
4  1500 - 2000   3272
5        < 500   3139
6  3000 - 4000   2473
7  4000 - 5000   1937

In [41]:
x = SS['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0        < 500  31838
1   500 - 1000   9019
2  2000 - 3000    912
3  1000 - 1500    801
4  1500 - 2000    526
5       5000 <    424
6  3000 - 4000     77
7  4000 - 5000     14

In [42]:
x = BG['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0        < 500  25142
1   500 - 1000   8537
2  1000 - 1500   3082
3  1500 - 2000   1194
4  2000 - 3000   1071
5  4000 - 5000   1042
6       5000 <   1027
7  3000 - 4000    398

In [43]:
x = Sogh['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0        < 500  29674
1   500 - 1000   3437
2  1000 - 1500    744
3  2000 - 3000     87
4  1500 - 2000     57
5  3000 - 4000      8
6       5000 <      4

In [44]:
x = Others['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0        < 500   9139
1   500 - 1000   7675
2  1500 - 2000   3387
3       5000 <   2686
4  3000 - 4000   2502
5  4000 - 5000   1920
6  1000 - 1500   1285
7  2000 - 3000    614

In [45]:
x = HL['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0        < 500  13305
1   500 - 1000   8120
2  1000 - 1500   2157
3       5000 <    869
4  2000 - 3000    795
5  1500 - 2000    735
6  3000 - 4000    361
7  4000 - 5000    162

In [46]:
x = Ent['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0       5000 <  21097
1  4000 - 5000   1042
2  2000 - 3000    902
3  3000 - 4000    895
4  1000 - 1500    839
5  1500 - 2000    668
6   500 - 1000    558
7        < 500    324

In [47]:
x = HS['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0        < 500   9000
1   500 - 1000   4054
2  1000 - 1500   2004
3  2000 - 3000    918
4  1500 - 2000    779
5       5000 <    356
6  3000 - 4000    258
7  4000 - 5000    133

In [48]:
x = KB['Price Range'].value_counts()
pd.DataFrame({'Price Range':x.index, 'Count':x.values})

   Price Range  Count
0        < 500  10250
1   500 - 1000   3879
2  1000 - 1500   1158
3  1500 - 2000    555
4  2000 - 3000    292
5       5000 <    155
6  4000 - 5000    101
7  3000 - 4000     99

## Month on Month Sales

In [49]:
y = [2016.0]
m1 = ["July", "August", "September", "October", "November", "December"]
arr = []

for year in y:
    
    sub = df[df["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)

In [50]:
y = [2017.0]
m1 = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for year in y:
    
    sub = df[df["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)

In [51]:
y = [2018.0]
m1 = ["January", "February", "March", "April", "May", "June", "July", "August"]

for year in y:
    
    sub = df[df["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)
        
print(arr)

[8837, 11535, 15433, 13124, 71528, 13452, 13195, 11861, 19534, 21678, 34736, 19793, 19275, 25083, 8591, 17499, 83928, 15747, 12855, 26903, 41942, 12307, 27835, 14734, 11034, 11895]

In [52]:
months = ["July 2016", "Aug 2016", "Sep 2016", "Oct 2016", "Nov 2016", "Dec 2016", "Jan 2017", "Feb 2017", "Mar 2017", "Apr 2017", "May 2017", "June 2017", "July 2017", "Aug 2017", "Sep 2017", "Oct 2017", "Nov 2017", "Dec 2017", "Jan 2018", "Feb 2018", "Mar 2018", "Apr 2018", "May 2018", "June 2018", "July 2018", "Aug 2018"]
sss = pd.DataFrame({'Months':months, 'Sales':arr})
sss

       Months  Sales
0   July 2016   8837
1    Aug 2016  11535
2    Sep 2016  15433
3    Oct 2016  13124
4    Nov 2016  71528
5    Dec 2016  13452
6    Jan 2017  13195
7    Feb 2017  11861
8    Mar 2017  19534
9    Apr 2017  21678
10   May 2017  34736
11  June 2017  19793
12  July 2017  19275
13   Aug 2017  25083
14   Sep 2017   8591
15   Oct 2017  17499
16   Nov 2017  83928
17   Dec 2017  15747
18   Jan 2018  12855
19   Feb 2018  26903
20   Mar 2018  41942
21   Apr 2018  12307
22   May 2018  27835
23  June 2018  14734
24  July 2018  11034
25   Aug 2018  11895

In [53]:
fig = px.line(sss, x="Months", y="Sales", title='Month on Month Sales')
fig.update_traces(line_color='green')
fig.update_traces(mode='lines+markers')
fig.show()

## Order Prediction

In [54]:
df

,item_id,status,created_at,price,qty_ordered,grand_total,increment_id,category_name_1,discount_amount,payment_method,...,MV,Year,Month,Customer Since,M-Y,FY,Customer ID,Month Name,Price Range,discount_amount Range
0,211131.00,complete,7/1/2016,1950.00,1.00,1950.00,100147443,Women's Fashion,0.00,cod,...,"1,950",2016.00,7,2016-7,7-2016,FY17,1.00,July,1500 - 2000,< 500
1,211133.00,canceled,7/1/2016,240.00,1.00,240.00,100147444,Beauty & Grooming,0.00,cod,...,240,2016.00,7,2016-7,7-2016,FY17,2.00,July,< 500,< 500
2,211134.00,canceled,7/1/2016,2450.00,1.00,2450.00,100147445,Women's Fashion,0.00,cod,...,"2,450",2016.00,7,2016-7,7-2016,FY17,3.00,July,2000 - 3000,< 500
3,211135.00,complete,7/1/2016,360.00,1.00,60.00,100147446,Beauty & Grooming,300.00,cod,...,360,2016.00,7,2016-7,7-2016,FY17,4.00,July,< 500,< 500
4,211136.00,order_refunded,7/1/2016,555.00,2.00,1110.00,100147447,Soghaat,0.00,cod,...,"1,110",2016.00,7,2016-7,7-2016,FY17,5.00,July,500 - 1000,< 500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584519,905204.00,cod,8/28/2018,699.00,1.00,849.00,100562385,Women's Fashion,0.00,cod,...,699,2018.00,8,2018-8,8-2018,FY19,115320.00,August,500 - 1000,< 500
584520,905205.00,processing,8/28/2018,35599.00,1.00,35899.00,100562386,Mobiles & Tablets,0.00,bankalfalah,...,"35,599",2018.00,8,2018-8,8-2018,FY19,115326.00,August,5000 <,< 500
584521,905206.00,processing,8/28/2018,129999.00,2.00,652178.00,100562387,Mobiles & Tablets,0.00,bankalfalah,...,"259,998",2018.00,8,2018-7,8-2018,FY19,113474.00,August,5000 <,< 500
584522,905207.00,processing,8/28/2018,87300.00,2.00,652178.00,100562387,Mobiles & Tablets,0.00,bankalfalah,...,"174,600",2018.00,8,2018-7,8-2018,FY19,113474.00,August,5000 <,< 500
584523,905208.00,processing,8/28/2018,108640.00,2.00,652178.00,100562387,Mobiles & Tablets,0.00,bankalfalah,...,"217,280",2018.00,8,2018-7,8-2018,FY19,113474.00,August,5000 <,< 500

In [55]:
df.columns

Index(['item_id', 'status', 'created_at', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1', 'discount_amount',
       'payment_method', 'Working Date', 'BI Status', ' MV ', 'Year', 'Month',
       'Customer Since', 'M-Y', 'FY', 'Customer ID', 'Month Name',
       'Price Range', 'discount_amount Range'],
      dtype='object')

In [56]:
ml = df[["status", "category_name_1", "payment_method", "qty_ordered", "BI Status", "Year", "Month Name", "Price Range", "discount_amount Range", "Customer ID"]]
ml

,status,category_name_1,payment_method,qty_ordered,BI Status,Year,Month Name,Price Range,discount_amount Range,Customer ID
0,complete,Women's Fashion,cod,1.00,#REF!,2016.00,July,1500 - 2000,< 500,1.00
1,canceled,Beauty & Grooming,cod,1.00,Gross,2016.00,July,< 500,< 500,2.00
2,canceled,Women's Fashion,cod,1.00,Gross,2016.00,July,2000 - 3000,< 500,3.00
3,complete,Beauty & Grooming,cod,1.00,Net,2016.00,July,< 500,< 500,4.00
4,order_refunded,Soghaat,cod,2.00,Valid,2016.00,July,500 - 1000,< 500,5.00
...,...,...,...,...,...,...,...,...,...,...
584519,cod,Women's Fashion,cod,1.00,Valid,2018.00,August,500 - 1000,< 500,115320.00
584520,processing,Mobiles & Tablets,bankalfalah,1.00,Gross,2018.00,August,5000 <,< 500,115326.00
584521,processing,Mobiles & Tablets,bankalfalah,2.00,Gross,2018.00,August,5000 <,< 500,113474.00
584522,processing,Mobiles & Tablets,bankalfalah,2.00,Gross,2018.00,August,5000 <,< 500,113474.00
584523,processing,Mobiles & Tablets,bankalfalah,2.00,Gross,2018.00,August,5000 <,< 500,113474.00

In [57]:
columns_to_encode = ["status", "category_name_1", "payment_method", "BI Status", "Year", "Month Name", "Price Range", "discount_amount Range"]

# Initialize the label encoder
le = LabelEncoder()

# Loop through the columns and encode each one
for col in columns_to_encode:
    ml[col] = le.fit_transform(ml[col])

# Display the encoded DataFrame
ml

,status,category_name_1,payment_method,qty_ordered,BI Status,Year,Month Name,Price Range,discount_amount Range,Customer ID
0,4,14,6,1.00,0,0,5,1,5,1.00
1,1,1,6,1.00,1,0,5,7,5,2.00
2,1,14,6,1.00,1,0,5,2,5,3.00
3,4,1,6,1.00,2,0,5,7,5,4.00
4,8,12,6,2.00,3,0,5,5,5,5.00
...,...,...,...,...,...,...,...,...,...,...
584519,3,14,6,1.00,3,2,1,5,5,115320.00
584520,13,9,4,1.00,1,2,1,6,5,115326.00
584521,13,9,4,2.00,1,2,1,6,5,113474.00
584522,13,9,4,2.00,1,2,1,6,5,113474.00
584523,13,9,4,2.00,1,2,1,6,5,113474.00

In [58]:
from sklearn.decomposition import PCA

X = ml.values 
pca = PCA(n_components=10) 
X_pca = pca.fit_transform(X) 
X_pca

array([[-4.57773104e+04,  2.61100677e+00,  5.29169508e+00, ...,
         3.15851541e-01,  1.61578136e-01,  1.90822071e+00],
       [-4.57763104e+04, -6.32483480e+00, -4.08360135e+00, ...,
        -5.85034000e-01,  2.90527317e-01,  4.48489175e-01],
       [-4.57753105e+04,  3.39230366e-01,  6.74430085e+00, ...,
         2.02877010e-01,  3.29031007e-01,  4.55416185e-01],
       ...,
       [ 6.76956897e+04,  7.61611888e+00, -2.35620829e+00, ...,
        -4.90091079e-01,  4.33675857e-02,  2.09062254e+00],
       [ 6.76956897e+04,  7.61611888e+00, -2.35620829e+00, ...,
        -4.90091079e-01,  4.33675857e-02,  2.09062254e+00],
       [ 6.76956897e+04,  7.61611888e+00, -2.35620829e+00, ...,
        -4.90091079e-01,  4.33675857e-02,  2.09062254e+00]])

In [59]:
ml["status"].value_counts()

4     233684
1     201136
14     77284
8      59500
15      8028
3       2855
9       1159
2        494
10        57
11        48
13        33
7         31
6         10
12         7
5          4
0          4
Name: status, dtype: int64

### Extremely imbalanced data for this problem^^^

In [60]:
temp = ml.drop(["status"], axis=1)
temp

,category_name_1,payment_method,qty_ordered,BI Status,Year,Month Name,Price Range,discount_amount Range,Customer ID
0,14,6,1.00,0,0,5,1,5,1.00
1,1,6,1.00,1,0,5,7,5,2.00
2,14,6,1.00,1,0,5,2,5,3.00
3,1,6,1.00,2,0,5,7,5,4.00
4,12,6,2.00,3,0,5,5,5,5.00
...,...,...,...,...,...,...,...,...,...
584519,14,6,1.00,3,2,1,5,5,115320.00
584520,9,4,1.00,1,2,1,6,5,115326.00
584521,9,4,2.00,1,2,1,6,5,113474.00
584522,9,4,2.00,1,2,1,6,5,113474.00
584523,9,4,2.00,1,2,1,6,5,113474.00

In [61]:
pip install lazypredict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lazypredict in /usr/local/lib/python3.10/dist-packages (0.2.12)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from lazypredict) (8.1.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from lazypredict) (1.2.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from lazypredict) (1.5.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from lazypredict) (4.65.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from lazypredict) (1.2.0)
Requirement already satisfied: lightgbm in /usr/local/lib/python3.10/dist-packages (from lazypredict) (3.3.5)
Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (from lazypredict) (1.7.5)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from lightgbm->lazypredict) (0.40.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from lightgbm->lazypredict) (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from lightgbm->lazypredict) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->lazypredict) (3.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->lazypredict) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->lazypredict) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->lazypredict) (1.16.0)

In [62]:
from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split

x = temp
y = ml["status"]

## Decision Tree Classifier

In [63]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = temp
y = ml["status"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

dtc = DecisionTreeClassifier(random_state=42)

dtc.fit(X_train, y_train)

y_pred = dtc.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)

print("Accuracy: {:.2f}%".format(accuracy*100))

Accuracy: 93.59%

## Random Forest Classifier

In [64]:
from sklearn.ensemble import RandomForestClassifier

X = ml.drop('status', axis=1)
y = ml["status"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

rfc = RandomForestClassifier(n_estimators=100, random_state=42)

rfc.fit(X_train, y_train)

y_pred = rfc.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)

print("Accuracy: {:.2f}%".format(accuracy*100))

Accuracy: 93.84%

# Demand Forecasting

## Demand Forecasting for Mobiles & Tablets

In [65]:
t2 = df[df['category_name_1'] == "Mobiles & Tablets"]

In [66]:
y = [2016.0]
m1 = ["July", "August", "September", "October", "November", "December"]
arr = []

for year in y:
    
    sub = t2[t2["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)

In [67]:
y = [2017.0]
m1 = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for year in y:
    
    sub = t2[t2["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)

In [68]:
y = [2018.0]
m1 = ["January", "February", "March", "April", "May", "June", "July", "August"]

for year in y:
    
    sub = t2[t2["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)
        
print(arr)

[820, 1792, 3318, 1724, 11839, 2796, 3045, 3124, 4218, 3539, 5876, 2821, 5058, 4254, 1967, 3956, 19404, 2458, 2694, 5738, 5989, 2217, 7350, 3757, 3443, 2512]

In [69]:
months = ["July 2016", "Aug 2016", "Sep 2016", "Oct 2016", "Nov 2016", "Dec 2016", "Jan 2017", "Feb 2017", "Mar 2017", "Apr 2017", "May 2017", "June 2017", "July 2017", "Aug 2017", "Sep 2017", "Oct 2017", "Nov 2017", "Dec 2017", "Jan 2018", "Feb 2018", "Mar 2018", "Apr 2018", "May 2018", "June 2018", "July 2018", "Aug 2018"]
mon = [7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8]
ses = pd.DataFrame({'Months':mon, 'Sales':arr})
sss = pd.DataFrame({'Months':months, 'Sales':arr})
sss

       Months  Sales
0   July 2016    820
1    Aug 2016   1792
2    Sep 2016   3318
3    Oct 2016   1724
4    Nov 2016  11839
5    Dec 2016   2796
6    Jan 2017   3045
7    Feb 2017   3124
8    Mar 2017   4218
9    Apr 2017   3539
10   May 2017   5876
11  June 2017   2821
12  July 2017   5058
13   Aug 2017   4254
14   Sep 2017   1967
15   Oct 2017   3956
16   Nov 2017  19404
17   Dec 2017   2458
18   Jan 2018   2694
19   Feb 2018   5738
20   Mar 2018   5989
21   Apr 2018   2217
22   May 2018   7350
23  June 2018   3757
24  July 2018   3443
25   Aug 2018   2512

In [70]:
fig = px.line(sss, x="Months", y="Sales", title='Mobile Phones Sales History')
fig.show()

In [112]:
!pip install pydrive

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pydrive in /usr/local/lib/python3.10/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.10/dist-packages (from pydrive) (2.84.0)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.10/dist-packages (from pydrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.10/dist-packages (from pydrive) (6.0)
Requirement already satisfied: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.2->pydrive) (0.21.0)
Requirement already satisfied: google-auth<3.0.0dev,>=1.19.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.2->pydrive) (2.17.3)
Requirement already satisfied: google-auth-httplib2>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.2->pydrive) (0.1.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.2->pydrive) (2.11.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client>=1.2->pydrive) (4.1.1)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.10/dist-packages (from oauth2client>=4.0.0->pydrive) (0.5.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.10/dist-packages (from oauth2client>=4.0.0->pydrive) (0.3.0)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from oauth2client>=4.0.0->pydrive) (4.9)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.10/dist-packages (from oauth2client>=4.0.0->pydrive) (1.16.0)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client>=1.2->pydrive) (1.59.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client>=1.2->pydrive) (3.20.3)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client>=1.2->pydrive) (2.27.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3.0.0dev,>=1.19.0->google-api-python-client>=1.2->pydrive) (5.3.0)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /usr/local/lib/python3.10/dist-packages (from httplib2<1dev,>=0.15.0->google-api-python-client>=1.2->pydrive) (3.0.9)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client>=1.2->pydrive) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client>=1.2->pydrive) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client>=1.2->pydrive) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-api-python-client>=1.2->pydrive) (3.4)

In [114]:
import mlflow
import mlflow.sklearn
import pandas as pd
import plotly.express as px
import statsmodels.api as sm
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import plotly.graph_objs as go
from statsmodels.tsa.arima.model import ARIMA


# SARIMAX
train_endog = ses['Sales'].iloc[:13]
train_exog = ses['Months'].iloc[:13]
test_endog = ses['Sales'].iloc[-12:]
test_exog = ses['Months'].iloc[-12:]
model = sm.tsa.statespace.SARIMAX(endog=train_endog, exog=train_exog, order=(1, 1, 1), seasonal_order=(1, 0, 0, 12))
fit_model = model.fit()
future_exog = test_exog
future_preds = fit_model.get_forecast(steps=12, exog=future_exog)
future_preds_ci = future_preds.conf_int()
rmse = ((test_endog - future_preds.predicted_mean) ** 2).mean() ** 0.5
print(f'SARIMAX RMSE: {rmse:.2f}')

# Start an MLflow run for SARIMAX
with mlflow.start_run(nested=True):
    # Log SARIMAX model and metrics
    mlflow.log_param("Model", "SARIMAX")
    mlflow.log_metric("RMSE", rmse)

    pred_df = pd.DataFrame({'Actual': test_endog, 'Predicted': future_preds.predicted_mean}, index=test_endog.index)
    # fig = px.line(pred_df, x=pred_df.index, y=pred_df.columns, title='Sales Monthly Forecast')
    # fig.add_trace(go.Scatter(x=pred_df.index, y=future_preds_ci['lower Sales'], mode='lines', name='Lower Bound'))
    # fig.add_trace(go.Scatter(x=pred_df.index, y=future_preds_ci['upper Sales'], mode='lines', name='Upper Bound'))
    # fig.update_traces(mode='lines+markers')
    # fig.show()

# ARIMA
cr = pd.DataFrame({'Sales': sss["Sales"]})
train = cr.iloc[:-12]
test = cr.iloc[-12:]
model = ARIMA(train, order=(1, 1, 1))
fit_model = model.fit(method_kwargs={'maxiter': 1000, 'method': 'nm'})
preds = fit_model.get_forecast(steps=len(test))
preds_ci = preds.conf_int()
rmse = ((test['Sales'] - preds.predicted_mean) ** 2).mean() ** 0.5
print(f'ARIMA RMSE: {rmse:.2f}')

# Start an MLflow run for ARIMA
with mlflow.start_run(nested=True):
    # Log ARIMA model and metrics
    mlflow.log_param("Model", "ARIMA")
    mlflow.log_metric("RMSE", rmse)

# Decision Tree Regressor
model = DecisionTreeRegressor(max_depth=3)
model.fit(train_data[['Months']], train_data['Sales'])
predictions = model.predict(test_data[['Months']])
rmse = ((predictions - test_data['Sales']) ** 2).mean() ** 0.5
print(f'Decision Tree Regressor RMSE: {rmse:.2f}')

# Start an MLflow run for Decision Tree Regressor
with mlflow.start_run(nested=True):
    # Log Decision Tree Regressor model and metrics
    mlflow.log_param("Model", "Decision Tree Regressor")
    mlflow.log_metric("RMSE", rmse)

# Random Forest Regressor
X_train = train_data[['Months', 'Sales']].values
y_train = train_data['Sales'].values
X_test = test_data[['Months', 'Sales']].values
y_test = test_data['Sales'].values
model = RandomForestRegressor(n_estimators=100, random_state=1)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f'Random Forest Regressor RMSE: {rmse:.2f}')

# Start an MLflow run for Random Forest Regressor
with mlflow.start_run(nested=True):
    # Log Random Forest Regressor model and metrics
    mlflow.log_param("Model", "Random Forest Regressor")
    mlflow.log_metric("RMSE", rmse)

    # trrr = last_eight = arr[-10:]
    # array1 = trrr
    # array2 = y_pred
    # fig = go.Figure()
    # fig.add_trace(go.Scatter(x=list(range(1, 11)), y=array1, mode='lines', name='Array 1'))
    # fig.add_trace(go.Scatter(x=list(range(1, 11)), y=array2, mode='lines', name='Array 2'))
    # fig.update_layout(title='Sales Forecast', xaxis_title='Months', yaxis_title='Sales')
    # fig.update_traces(mode='lines+markers')
    # fig.show()

/usr/local/lib/python3.10/dist-packages/statsmodels/base/model.py:604: ConvergenceWarning:

Maximum Likelihood optimization failed to converge. Check mle_retvals

SARIMAX RMSE: 1762.23
ARIMA RMSE: 1708.88
Decision Tree Regressor RMSE: 1147.17
Random Forest Regressor RMSE: 711.25

## Demand Forecasting for Men's Fashion Category

In [76]:
t2 = df[df['category_name_1'] == "Men's Fashion"]

In [77]:
y = [2016.0]
m1 = ["July", "August", "September", "October", "November", "December"]
arr = []

for year in y:
    
    sub = t2[t2["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)

In [78]:
y = [2017.0]
m1 = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for year in y:
    
    sub = t2[t2["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)

In [79]:
y = [2018.0]
m1 = ["January", "February", "March", "April", "May", "June", "July", "August"]

for year in y:
    
    sub = t2[t2["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)
        
print(arr)

[1003, 2587, 1264, 1954, 15760, 2840, 2022, 2079, 2554, 3284, 6813, 3935, 1942, 3681, 1675, 2267, 16315, 2931, 1595, 3658, 3437, 1921, 2168, 1775, 1252, 1506]

In [80]:
months = ["July 2016", "Aug 2016", "Sep 2016", "Oct 2016", "Nov 2016", "Dec 2016", "Jan 2017", "Feb 2017", "Mar 2017", "Apr 2017", "May 2017", "June 2017", "July 2017", "Aug 2017", "Sep 2017", "Oct 2017", "Nov 2017", "Dec 2017", "Jan 2018", "Feb 2018", "Mar 2018", "Apr 2018", "May 2018", "June 2018", "July 2018", "Aug 2018"]
mon = [7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8]
ses = pd.DataFrame({'Months':mon, 'Sales':arr})
sss = pd.DataFrame({'Months':months, 'Sales':arr})
sss

       Months  Sales
0   July 2016   1003
1    Aug 2016   2587
2    Sep 2016   1264
3    Oct 2016   1954
4    Nov 2016  15760
5    Dec 2016   2840
6    Jan 2017   2022
7    Feb 2017   2079
8    Mar 2017   2554
9    Apr 2017   3284
10   May 2017   6813
11  June 2017   3935
12  July 2017   1942
13   Aug 2017   3681
14   Sep 2017   1675
15   Oct 2017   2267
16   Nov 2017  16315
17   Dec 2017   2931
18   Jan 2018   1595
19   Feb 2018   3658
20   Mar 2018   3437
21   Apr 2018   1921
22   May 2018   2168
23  June 2018   1775
24  July 2018   1252
25   Aug 2018   1506

In [81]:
fig = px.line(sss, x="Months", y="Sales", title="Men's Fashion Sales History")
fig.show()

In [124]:
import mlflow
import mlflow.sklearn
import pandas as pd
import plotly.graph_objs as go
import statsmodels.api as sm
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error


# Start MLflow experiment
mlflow.set_experiment("demand_forecasting")

with mlflow.start_run():
    # SARIMAX
    train_endog = ses['Sales'].iloc[:13] 
    train_exog = ses['Months'].iloc[:13]  
    test_endog = ses['Sales'].iloc[-12:]  
    test_exog = ses['Months'].iloc[-12:]  

    model = sm.tsa.statespace.SARIMAX(endog=train_endog, exog=train_exog, order=(1, 1, 1), seasonal_order=(1, 0, 0, 12))
    fit_model = model.fit()

    future_exog = test_exog  
    future_preds = fit_model.forecast(steps=12, exog=future_exog)

    rmse = ((test_endog - future_preds)**2).mean() ** 0.5
    print(f'SARIMAX: {rmse:.2f}')
    # Log SARIMAX results to MLflow
    mlflow.log_metric("RMSE_SARIMAX", rmse)



    # ARIMA
    cr = pd.DataFrame({'Sales': sss["Sales"]})
    train = cr.iloc[:-12]
    test = cr.iloc[-12:]

    model = sm.tsa.arima.ARIMA(train, order=(1, 1, 1))
    fit_model = model.fit()

    preds = fit_model.predict(start=test.index[0], end=test.index[-1], typ='levels')

    rmse = ((test['Sales'] - preds) ** 2).mean() ** 0.5
    print(f'ARIMA: {rmse:.2f}')

    # Log ARIMA results to MLflow
    mlflow.log_metric("RMSE_ARIMA", rmse)
    

    # Decision Tree
    data = ses
    train_data = data[:-12]
    test_data = data[-12:]

    model = DecisionTreeRegressor(max_depth=3)
    model.fit(train_data[['Months']], train_data['Sales'])

    predictions = model.predict(test_data[['Months']])

    rmse = ((predictions - test_data['Sales'])**2).mean() ** 0.5
    print(f'Decision Tree: {rmse:.2f}')

    # Log Decision Tree results to MLflow
    mlflow.log_metric("RMSE_Decision_Tree", rmse)
   
    # Random Forest Regressor
    train_data = ses.sample(frac=0.6, random_state=1)
    test_data = ses.drop(train_data.index)

    X_train = train_data[['Months', 'Sales']].values
    y_train = train_data['Sales'].values
    X_test = test_data[['Months', 'Sales']].values
    y_test = test_data['Sales'].values

    model = RandomForestRegressor(n_estimators=100, random_state=1)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)
    rmse = mean_squared_error(y_test, y_pred, squared=False)
    print(f'Random Forest: {rmse:.2f}')

    # Log Random Forest results to MLflow
    mlflow.log_metric("RMSE_Random_Forest", rmse)

/usr/local/lib/python3.10/dist-packages/statsmodels/base/model.py:604: ConvergenceWarning:

Maximum Likelihood optimization failed to converge. Check mle_retvals

SARIMAX: 1762.23
ARIMA: 1708.88
Decision Tree: 1147.17
Random Forest: 757.16

## Demand Forecasting for Women's Fashion Category

In [87]:
t2 = df[df['category_name_1'] == "Women's Fashion"]

In [88]:
y = [2016.0]
m1 = ["July", "August", "September", "October", "November", "December"]
arr = []

for year in y:
    
    sub = t2[t2["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)

In [89]:
y = [2017.0]
m1 = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

for year in y:
    
    sub = t2[t2["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)

In [90]:
y = [2018.0]
m1 = ["January", "February", "March", "April", "May", "June", "July", "August"]

for year in y:
    
    sub = t2[t2["Year"] == year]
    
    for month in m1:
        
        sub2 = sub[sub["Month Name"] == month]
        
        count = sub2["status"].shape[0]
        
        arr.append(count)
        
print(arr)

[469, 628, 967, 966, 5712, 885, 1282, 1488, 4432, 2668, 4941, 2024, 1565, 3576, 1214, 2132, 7615, 2267, 1691, 1962, 2171, 2252, 2812, 1420, 1207, 1374]

In [91]:
months = ["July 2016", "Aug 2016", "Sep 2016", "Oct 2016", "Nov 2016", "Dec 2016", "Jan 2017", "Feb 2017", "Mar 2017", "Apr 2017", "May 2017", "June 2017", "July 2017", "Aug 2017", "Sep 2017", "Oct 2017", "Nov 2017", "Dec 2017", "Jan 2018", "Feb 2018", "Mar 2018", "Apr 2018", "May 2018", "June 2018", "July 2018", "Aug 2018"]
mon = [7,8,9,10,11,12,1,2,3,4,5,6,7,8,9,10,11,12,1,2,3,4,5,6,7,8]
ses = pd.DataFrame({'Months':mon, 'Sales':arr})
sss = pd.DataFrame({'Months':months, 'Sales':arr})
sss

       Months  Sales
0   July 2016    469
1    Aug 2016    628
2    Sep 2016    967
3    Oct 2016    966
4    Nov 2016   5712
5    Dec 2016    885
6    Jan 2017   1282
7    Feb 2017   1488
8    Mar 2017   4432
9    Apr 2017   2668
10   May 2017   4941
11  June 2017   2024
12  July 2017   1565
13   Aug 2017   3576
14   Sep 2017   1214
15   Oct 2017   2132
16   Nov 2017   7615
17   Dec 2017   2267
18   Jan 2018   1691
19   Feb 2018   1962
20   Mar 2018   2171
21   Apr 2018   2252
22   May 2018   2812
23  June 2018   1420
24  July 2018   1207
25   Aug 2018   1374

In [92]:
fig = px.line(sss, x="Months", y="Sales", title="Women's Fashion Sales History")
fig.show()

## SARIMAX

In [93]:
import statsmodels.api as sm

train_endog = ses['Sales'].iloc[:13] 
train_exog = ses['Months'].iloc[:13]  

test_endog = ses['Sales'].iloc[-12:]  
test_exog = ses['Months'].iloc[-12:]  

model = sm.tsa.statespace.SARIMAX(endog=train_endog, exog=train_exog, order=(1, 1, 1), seasonal_order=(1, 0, 0, 12))
fit_model = model.fit()

future_exog = test_exog  
future_preds = fit_model.forecast(steps=12, exog=future_exog)

rmse = ((test_endog - future_preds)**2).mean() ** 0.5
print(f'RMSE: {rmse:.2f}')

pred_df = pd.DataFrame({'Actual': test_endog, 'Predicted': future_preds}, index=test_endog.index)
fig = px.line(pred_df, x=pred_df.index, y=pred_df.columns, title='Sales Monthly Forecast')
fig.update_traces(mode='lines+markers')
fig.show()

RMSE: 1762.23

/usr/local/lib/python3.10/dist-packages/statsmodels/base/model.py:604: ConvergenceWarning:

Maximum Likelihood optimization failed to converge. Check mle_retvals

## ARIMA

In [94]:
cr = pd.DataFrame({'Sales':sss["Sales"]})

from statsmodels.tsa.arima.model import ARIMA

train = cr.iloc[:-12]
test = cr.iloc[-12:]

model = ARIMA(train, order=(1, 1, 1))
fit_model = model.fit()

preds = fit_model.predict(start=test.index[0], end=test.index[-1], type='levels')

rmse = ((test['Sales'] - preds) ** 2).mean() ** 0.5
print(f'RMSE: {rmse:.2f}')

RMSE: 1708.88

## Random Forest Regressor

In [95]:
from sklearn.ensemble import RandomForestRegressor
import plotly.graph_objs as go

train_data = ses.sample(frac=0.6, random_state=1)
test_data = ses.drop(train_data.index)

X_train = train_data[['Months', 'Sales']].values
y_train = train_data['Sales'].values
X_test = test_data[['Months', 'Sales']].values
y_test = test_data['Sales'].values

model = RandomForestRegressor(n_estimators=100, random_state=1)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print(f'RMSE: {rmse:.2f}')

trrr = last_eight = arr[-10:]

array1 = trrr
array2 = y_pred

fig = go.Figure()
fig.add_trace(go.Scatter(x=list(range(1, 11)), y=array1, mode='lines', name='Actual'))
fig.add_trace(go.Scatter(x=list(range(1, 11)), y=array2, mode='lines', name='Predicted'))
fig.update_layout(title='Sales Forecast', xaxis_title='Months', yaxis_title='Sales')
fig.update_traces(mode='lines+markers')
fig.show()

RMSE: 757.16

## Decision Tree Regressor

In [96]:
from sklearn.tree import DecisionTreeRegressor

data = ses

train_data = data[:-12]
test_data = data[-12:]

model = DecisionTreeRegressor(max_depth=3)
model.fit(train_data[['Months']], train_data['Sales'])

predictions = model.predict(test_data[['Months']])

rmse = ((predictions - test_data['Sales'])**2).mean() ** 0.5
print(f'RMSE: {rmse:.2f}')


pred_df = pd.DataFrame({'Actual': test_data['Sales'], 'Predicted': predictions}, index=test_data.index)
fig = px.line(pred_df, x=pred_df.index, y=pred_df.columns, title='Sales Monthly Forecast')
fig.update_traces(mode='lines+markers')
fig.show()

RMSE: 1147.17

In [97]:
print("RMSE per Regression Model for Women's Fashion Category Forecasting: ")
print("SARIMAX - 1765.43")
print("ARIMA - 1708.88")
print("Random Forest Regressor - 757.16")
print("Decision Tree Regressor - 1147.17")

RMSE per Regression Model for Women's Fashion Category Forecasting:
SARIMAX - 1765.43
ARIMA - 1708.88
Random Forest Regressor - 757.16
Decision Tree Regressor - 1147.17

# Fin - Till FYP1 Mid1